<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Currículo Aqui!</title>

    <link rel="icon" href="https://getbootstrap.com.br/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
        a,
        a:focus,
        a:hover {
            color: #fff;
        }
        /* Botão padrão customizado */
        
        .btn-secondary,
        .btn-secondary:hover,
        .btn-secondary:focus {
            color: #333;
            text-shadow: none;
            background-color: #fff;
            border: .05rem solid #fff;
        }
        
        html,
        body {
            height: 100%;
            background-color: #333;
        }
        
        body {
            display: -ms-flexbox;
            display: flex;
            color: #fff;
            /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
        }
        
        .cover-container {
            max-width: 42em;
        }
        
        .masthead {
            margin-bottom: 2rem;
        }
        
        .masthead-brand {
            margin-bottom: 0;
        }
        
        .nav-masthead .nav-link {
            padding: .25rem 0;
            font-weight: 700;
            color: rgba(255, 255, 255, .5);
            background-color: transparent;
            border-bottom: .25rem solid transparent;
        }
        
        .nav-masthead .nav-link:hover,
        .nav-masthead .nav-link:focus {
            border-bottom-color: #333;
        }
        
        .nav-masthead .nav-link+.nav-link {
            margin-left: 1rem;
        }
        
        .nav-masthead .active {
            color: #fff;
            border-bottom-color: #fff;
        }
        
        @media (min-width: 48em) {
            .masthead-brand {
                float: left;
            }
            .nav-masthead {
                float: right;
            }
        }
        
        .cover {
            padding: 0 1.5rem;
        }
        
        .cover .btn-lg {
            padding: .75rem 1.25rem;
            font-weight: 700;
        }
        
        .mastfoot {
            color: #333;
        }
        
        #cardForm {
            position: absolute;
            display: none;
            width: 40%;
            height: auto;
            top: 20%;
            left: 30%;
            right: 50%;
            bottom: auto;
            border-radius: 8px;
            z-index: 2;
            cursor: pointer;
            background-color: rgb(225, 225, 225);
            color: #333;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            padding: 12px;
        }
        
        #cardForm nav {
            padding: 12px;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        
        #cardForm nav label {
            padding: 6px;
            margin: 2px;
            font-size: small;
            font-style: inherit;
        }
        
        #btnNewCurriculo {
            font-size: 16px;
        }
    </style>
</head>

<body class="text-center" id="body">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead justify-content-center">Currículo Aqui!</h3>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Olá, deseja criar um novo currículo?</h1>
            <p class="lead">Aqui no nosso site, você apenas preenche suas informações e nós geramos um currículo para você &#128512</p>
            <p class="lead">
                <h3 class="btn btn-lg btn-secondary" id="btnNewCurriculo" onclick="newCurriculoFormShow()">Gerar um novo currículo
                </h3>
            </p>
        </main>

        <div class="card" id="cardForm">

            <h3>Novo currículo</h3>
            <label class="text-muted" id="labelStep">Informações pessoais</label>

            <nav class="nav nav-pills flex-column flex-sm-row">
                <label class="flex-sm-fill text-sm-center nav-link active" id="step-1">Info Pessoal 1</label>
                <label class="flex-sm-fill text-sm-center nav-link" id="step-2">Info Pessoal 2</label>
                <label class="flex-sm-fill text-sm-center nav-link" id="step-3">Info Profissionais</label>
                <label class="flex-sm-fill text-sm-center nav-link" id="step-4">Info Adicionais</label>
            </nav>

            <div class="container" style="margin-bottom: 12px;">

                <!-- INÍCIO - FORM DE INFORMAÇÕES PESSOAIS -->

                <!-- INFORMAÇÕES PESSOAIS - PARTE 1 -->
                <div class="form-row" style="margin-bottom: 12px; margin-top: 12px;" id="divInfoPessoal1">
                    <div class="form-group col-md-9">
                        <label style="float: left;">Nome</label>
                        <input type="name" class="form-control" id="fieldNome" placeholder="Nome completo">
                    </div>
                    <div class="form-group col-md-3">
                        <label style="float: left;">Idade</label>
                        <input type="number" class="form-control" id="fieldIdade" placeholder="Idade">
                    </div>
                </div>

                <!-- INFORMAÇÕES PESSOAIS - PARTE 2 -->
                <div class="form-row" style="margin-bottom: 12px;" id="divInfoPessoal2">
                    <div class="form-group col-md-5">
                        <label style="float: left;">Endereço</label>
                        <input type="text" class="form-control" id="fieldRua" placeholder="Endereço">
                    </div>
                    <div class="form-group col-md-4">
                        <label style="float: left;">Bairro</label>
                        <input type="text" class="form-control" id="fieldBairro" placeholder="Bairro">
                    </div>
                    <div class="form-group col-md-3">
                        <label style="float: left;">CEP</label>
                        <input type="text" class="form-control" id="fieldCep" placeholder="CEP">
                    </div>
                </div>

                <!-- INFORMAÇÕES PESSOAIS - PARTE 3 -->
                <div class="form-row" style="margin-bottom: 12px; display: none;" id="divInfoPessoal3">
                    <div class="form-group col-md-4">
                        <label style="float: left;">Cidade</label>
                        <input type="text" class="form-control" id="fieldCidade" placeholder="Cidade">
                    </div>
                    <div class="form-group col-md-4">
                        <label style="float: left;">Telefone</label>
                        <input type="text" class="form-control" id="fieldBairro" placeholder="Telefone">
                    </div>
                    <div class="form-group col-md-4">
                        <label style="float: left;">Celular</label>
                        <input type="text" class="form-control" id="fieldCep" placeholder="Celular">
                    </div>
                </div>

                <!-- INFORMAÇÕES PESSOAIS - PARTE 4 -->
                <div class="form-row" style="margin-bottom: 12px; display: none;" id="divInfoPessoal4">
                    <div class="form-group col-md-12">
                        <label style="float: left;">Email</label>
                        <input type="email" class="form-control" id="fieldEmail" placeholder="Email">
                    </div>
                </div>

                <!-- FIM - FORM DE INFORMAÇÕES PESSOAIS -->

                <!-- =================================================================================================== -->

                <!-- INÍCIO - FORM DE INFORMAÇÕES PROFISSIONAIS/OBJETIVOS -->

                <!-- INFORMAÇÕES PROFISSIONAIS/OBJETIVOS - PARTE 1 -->
                <div class="form-row" style="margin-bottom: 12px; margin-top: 12px; display: none;" id="divInfoProfissionais1">
                    <div class="form-group col-md-6">
                        <label style="float: left;">Cargo Atual</label>
                        <input type="text" class="form-control" id="fieldCargoAtual" placeholder="Cargo atual">
                    </div>
                    <div class="form-group col-md-6">
                        <label style="float: left;">Cargo Exercido</label>
                        <input type="text" class="form-control" id="fieldCargoExercido" placeholder="Cargo exercido">
                    </div>
                </div>

                <!-- INFORMAÇÕES PROFISSIONAIS/OBJETIVOS - PARTE 2 -->
                <div class="form-row" style="margin-bottom: 12px; margin-top: 12px; display: none;" id="divInfoProfissionais2">
                    <div class="form-group col-md-12">
                        <label style="float: left;">Experiência</label>
                        <input type="text" class="form-control" id="fieldExperiencia" placeholder="Experiência">
                    </div>
                </div>

                <!-- FIM - FORM DE INFORMAÇÕES PROFISSIONAIS/OBJETIVOS -->

                <!-- =================================================================================================== -->

                <!-- INÍCIO - FORM DE INFORMAÇÕES ADICIONAIS -->

                <!-- INFORMAÇÕES ADICIONAIS - PARTE 1 -->
                <div class="form-row" style="margin-bottom: 12px; margin-top: 12px; display: none;" id="divInfoAdicionais1">
                    <div class="form-group col-md-6">
                        <label style="float: left;">Idiomas</label>
                        <input type="text" class="form-control" id="fieldIdiomas" placeholder="Idiomas">
                    </div>
                    <div class="form-group col-md-6">
                        <label style="float: left;">Formação Acadêmia</label>
                        <input type="text" class="form-control" id="fieldFormacaoAcademica" placeholder="Formação Acadêmica">
                    </div>
                </div>

                <!-- INFORMAÇÕES ADICIONAIS - PARTE 2 -->
                <div class="form-row" style="margin-bottom: 12px; margin-top: 12px; display: none;" id="divInfoAdicionais2">
                    <div class="form-group col-md-12">
                        <label style="float: left;">Cursos</label>
                        <input type="text" class="form-control" id="fieldCursos" placeholder="Cursos">
                    </div>
                </div>

                <!-- FIM - FORM DE INFORMAÇÕES ADICIONAIS -->

                <button class="btn btn-danger" style="float: left;" onclick="newCurriculoFormHide()">Cancelar</button>

                <button class="btn btn-primary disabled" id="previous" onclick="newCurriculoSteps('previous')">&laquo;</button>
                <button class="btn btn-primary" id="next" onclick="newCurriculoSteps('next')">&raquo;</button>

                <button class="btn btn-success" id="gerar" style="float: right; visibility: hidden;">Gerar</button>
            </div>
        </div>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Currículo Aqui! 2021</p>
            </div>
        </footer>
    </div>

    <div class="alert alert-danger fade show" role="alert" style="position: absolute; 
        bottom:0; right: 0; margin-right: 8px; visibility: hidden;" id="msgFields">
        Atenção, preencha todos os campo!
    </div>

    <script>
        function newCurriculoFormShow() {
            document.getElementById("cardForm").style.display = "block";

            // reseta marcadores
            var selected = "flex-sm-fill text-sm-center nav-link active";
            var deselected = "flex-sm-fill text-sm-center nav-link inactive";
            document.getElementById("step-1").className = selected;
            document.getElementById("step-2").className = deselected;
            document.getElementById("step-3").className = deselected;
            document.getElementById("step-4").className = deselected;

            // seta a step inicial
            document.getElementById("labelStep").innerText = "Informações pessoais 1";

            //reseta botão previous, next e gerar
            document.getElementById("previous").className = "btn btn-primary disabled";
            document.getElementById("next").className = "btn btn-primary";
            document.getElementById("gerar").style.visibility = "hidden";
        }

        function newCurriculoFormHide() {
            document.getElementById("cardForm").style.display = "none";

            // remove alerta
            document.getElementById("msgFields").style.visibility = "hidden";
        }

        function newCurriculoSteps(order) {

            // valores base das classes do botão
            var selected = "flex-sm-fill text-sm-center nav-link active";
            var deselected = "flex-sm-fill text-sm-center nav-link inactive";

            if (order === 'previous') {

                //habilita botão next
                document.getElementById("next").className = "btn btn-primary";

                //desabilita o botão gerar
                document.getElementById("gerar").style.visibility = "hidden";

                if (document.getElementById("step-2").className === selected) {
                    //desabilita botão previous
                    document.getElementById("previous").className = "btn btn-primary disabled";
                }

                if (document.getElementById("step-4").className === selected) {
                    document.getElementById("step-4").className = deselected;
                    document.getElementById("step-3").className = selected;

                    // seta a step atual
                    document.getElementById("labelStep").innerText = "Informações Profissionais/Objetivos";

                    // esconde divInfoAdicionais1/2 e exibe divInfoProfissionais1/2
                    document.getElementById("divInfoAdicionais1").style.display = "none";
                    document.getElementById("divInfoAdicionais2").style.display = "none";
                    document.getElementById("divInfoProfissionais1").style.display = "";
                    document.getElementById("divInfoProfissionais2").style.display = "";
                } else if (document.getElementById("step-3").className === selected) {
                    document.getElementById("step-3").className = deselected;
                    document.getElementById("step-2").className = selected;

                    // seta a step atual
                    document.getElementById("labelStep").innerText = "Informações pessoais 2";

                    // esconde divInfoProfissional1/2 e exibe divInfoPessoais3/4
                    document.getElementById("divInfoProfissionais1").style.display = "none";
                    document.getElementById("divInfoProfissionais2").style.display = "none";
                    document.getElementById("divInfoPessoal4").style.display = "";
                    document.getElementById("divInfoPessoal3").style.display = "";
                } else if (document.getElementById("step-2").className === selected) {
                    document.getElementById("step-2").className = deselected;
                    document.getElementById("step-1").className = selected;

                    // seta a step atual
                    document.getElementById("labelStep").innerText = "Informações pessoais 1";

                    // esconde divInfoPessoal4/3 e exibe divInfoPessoal2/1
                    document.getElementById("divInfoPessoal4").style.display = "none";
                    document.getElementById("divInfoPessoal3").style.display = "none";
                    document.getElementById("divInfoPessoal2").style.display = "";
                    document.getElementById("divInfoPessoal1").style.display = "";
                }
            } else if (order === 'next') {

                // valida campos antes de cada next
                if (validFields() === true) {

                    //habilita botão previous
                    document.getElementById("previous").className = "btn btn-primary";

                    if (document.getElementById("step-3").className === selected) {
                        //desabilita botão next
                        document.getElementById("next").className = "btn btn-primary disabled";

                        //habilita o botão gerar
                        document.getElementById("gerar").style.visibility = "visible";
                    }

                    if (document.getElementById("step-1").className === selected) {
                        document.getElementById("step-1").className = deselected;
                        document.getElementById("step-2").className = selected;

                        // seta a step atual
                        document.getElementById("labelStep").innerText = "Informações pessoais 2";

                        // esconde divInfoPessoal1/2 e exibe divInfoPessoal3/4
                        document.getElementById("divInfoPessoal1").style.display = "none";
                        document.getElementById("divInfoPessoal2").style.display = "none";
                        document.getElementById("divInfoPessoal3").style.display = "";
                        document.getElementById("divInfoPessoal4").style.display = "";
                    } else if (document.getElementById("step-2").className === selected) {
                        document.getElementById("step-2").className = deselected;
                        document.getElementById("step-3").className = selected;

                        // seta a step atual
                        document.getElementById("labelStep").innerText = "Informações Profissionais/Objetivos";

                        // esconde divInfoPessoal3/4 e exibe divInfoProfissionais1/2
                        document.getElementById("divInfoPessoal3").style.display = "none";
                        document.getElementById("divInfoPessoal4").style.display = "none";
                        document.getElementById("divInfoProfissionais1").style.display = "";
                        document.getElementById("divInfoProfissionais2").style.display = "";
                    } else if (document.getElementById("step-3").className === selected) {
                        document.getElementById("step-3").className = deselected;
                        document.getElementById("step-4").className = selected;

                        // seta a step atual
                        document.getElementById("labelStep").innerText = "Informações Adicionais";

                        // esconde divInfoProfissionais1/2 e exibe divInfoAdicionais1/2
                        document.getElementById("divInfoProfissionais1").style.display = "none";
                        document.getElementById("divInfoProfissionais2").style.display = "none";
                        document.getElementById("divInfoAdicionais1").style.display = "";
                        document.getElementById("divInfoAdicionais2").style.display = "";
                    }
                }
            }
        }

        function validFields() {

            if (document.getElementById("fieldNome").value != "" &&
                document.getElementById("fieldIdade").value != "" &&
                document.getElementById("fieldRua").value != "" &&
                document.getElementById("fieldBairro").value != "" &&
                document.getElementById("fieldCep").value != "") {
                document.getElementById("msgFields").style.visibility = "hidden";
                return true;
            } else {
                document.getElementById("msgFields").style.visibility = "visible";
                return false;
            }

        }
    </script>
</body>

</html>